.section {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
  &__title {
    font-size: var(--font-size-h2);
    color: var(--accent2);
  }
  &__subTitle {
    font-size: var(--font-size-h5);
  }
  &__groupButtons {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__btn {
    max-width: 200px;
    margin: 0;
  }
  &__btn--highlight {
    background-color: var(--bg1);
    border: 2px solid var(--bg2);
  }
  &__image {
    max-width: 300px;
    margin: 0 auto;
  }
}

// recipes
.recipes {
  margin-bottom: 2rem;
  &__variety {
    padding-bottom: 1rem;
    color: var(--accent3);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }

  &__card {
    box-shadow: var(--box-shadow-1);
    padding: 0.4rem;
    display: grid;
    grid-template-rows: auto auto;
  }
  &__image {
    width: 100%;
    height: 16rem;
    object-fit: fill;
  }
  &__title {
    padding: 0.6rem;
    font-size: var(--font-size-h4);
    letter-spacing: 1px;
    text-align: center;
    color: var(--accent2);
    font-weight: bold;
  }
}

// public__recipe

.public {
  &__recipe {
    padding-bottom: 2rem;
    object-fit: contain;
  }
  &__title {
    font-size: var(--font-size-h3);
    text-align: center;
    color: var(--accent3);
  }
  &__subTitle {
    color: var(--accent2);
    font-weight: 200;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  &__btn {
    max-width: 180px;
    border-radius: 0.3rem;
    text-align: center;
  }
}

// footer
.footer {
  background-color: whitesmoke;
  &__container {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
  }

  &__text {
    font-size: var(--font-size-h5);
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
  }

  &__name {
    font-weight: bold;
    padding-left: 0.5rem;
    color: var(--accent1);
  }
}

.icon {
  display: none;
  background-color: var(--bg2);
  padding: 0.2rem 0.5rem;
  display: flex;
  border-radius: 100%;
}
// min-width : 600px

@media (min-width: 600px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: 1fr;
  }

  .icon {
    display: block;
  }
}
