.contact {
  padding-top: 2rem;
  padding-left: 1rem;

  &__title {
    font-size: var(--font-size-h2);
    color: var(--accent2);
    margin-bottom: 1rem;
  }

  &__subTitle {
    font-size: var(--font-size-h4);
    padding-bottom: 1rem;
    color: var(--accent3);
  }

  &__me {
    font-size: var(--font-size-h5);
    color: var(--accent1);
  }

  &__link {
    color: var(--bg2);
    transition: var(--transition-2);
    &:hover {
      color: var(--accent2);
    }
  }
}
